body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.chat-container {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.chat-window {
  flex-grow: 1;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  border-bottom: 1px solid #ccc;
}

.input-container {
  display: flex;
}

.input-container > input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.send-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

.font-grey {
  color: green !important;
}

.chat-container .bot-reponse {
  white-space: break-spaces;
}
